.skillsSection {
    padding-top: 4vh;
    height: 86vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    position: relative;
}

.cntnrDetails {
    padding: 1rem;
    flex-grow: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.SkillDetailContainer {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.textP1 {
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
}

.title {
    font-size: 3rem;
    text-align: center;
}
.icon{
    background: white;
}

.skillsSubTitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    background: white;
}

.exSkillsDetailsCntnr{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.articleContainer {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.4rem;
    justify-content: space-around;
    background: white;
}

article {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    background: white;
}
.skillExp h3{
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.3rem;
    background: white;
}
.skillExp p{
    opacity: 0.5;
    font-size: 18px;
    font-weight: 600;
    background: white;
}